h3{
text-align:center;
color:#FF6347;
}
.div_list{
	border-radius:15px;
}
.more{
	background-color: rgba(0, 0, 0, 0.5);
	color: #FF6347;
	text-align: center;
	display: block;
	margin: 5px auto;
	font-size: 16px;
	padding: 15px 100px;
	border-radius:15px;
}
.more:active{
	background-color: rgba(0, 0, 0, 0.6);
}
.span{
	color: #FF6347;
	text-align: center;
	display: block;
	margin: 5px auto;
	font-size: 16px;
	padding: 10px 1px;
	border-radius:15px;
}
.table{
	border-radius:15px;
	background-color: rgba(0, 0, 0, 0.5);
}
.span:hover{
	background-color: rgba(0, 0, 0, 0.6);
}
.btn {
background-color: #FF6347;
border-radius:15px;
border-color: rgba(255, 255, 255, 0.5);
color: #fff;
padding: 10px 20px;
font-size: 16px;
text-align: center;
text-decoration: none;
margin: 10px 10px;
border-radius:15px;
}
.btn:hover {
background-size: 100% 100%;
color: #fff;
}
input[type=range] {
	margin: 15px 10px;
	background: #FF6347; 
    -webkit-appearance: none;
    width: 50%;
    border-radius: 10px; /*这个属性设置使填充进度条时的图形为圆角*/
}

input[type=range]::-webkit-slider-runnable-track {
    height: 10px;
    border-radius: 10px; /*将轨道设为圆角的*/
    box-shadow: 0 1px 1px #def3f8, inset 0 .125em .125em #0d1112; /*轨道内置阴影效果*/
}

input[type=range]:focus {
    outline: none;
}


input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    margin-top: -5px; /*使滑块超出轨道部分的偏移量相等*/
    background: #ffffff; 
    border-radius: 50%; /*外观设置为圆形*/
    border: solid 0.125em rgba(205, 224, 230, 0.5); /*设置边框*/
    box-shadow: 0 .125em .125em #3b4547; /*添加底部阴影*/
}

@-webkit-keyframes img {
	0% {
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
    }
	100% {
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
		}
}